/* ::::: COLORS  ::::::*/
$aside-menu-primary-color: #1a1a27;
$aside-menu-secondary-color: #1e1e2d;
$aside-menu-section-text-color: #4c4e6f;
$aside-menu-menu-text-color: #a2a3b7;
$aside-menu-hover-icon-color: #3699ff;
$aside-menu-hover-text-color: #ffffff;
$aside-menu-icon-color: #494b74;
$menu-item-active-color: #23313f;
$menu-item-hover-color: #23313f;
$text-primary-color: #ffffff;

/* ::::::: DIMENSION ::::::: */
$top-header-height: 4.0625rem;

/* :::::: PADDING ::::::: */
$brand-padding: 0px 25px;
$menu-item-padding: 10px 25px;
$small-padding: 0.9375rem;
$medium-padding: 2rem;
$large-padding: 3rem;


/* :::::::::: TRANSFORM   :::::::::: */
$icon-rotate: rotate(90deg);


/* :::::::::: TRANSITIONS   :::::::::: */
$icon-transition: all 0.3s ease-in-out;